body {
    min-height: 100vh;
    width:100%;
    margin: 0;
    color: #e4e6eb;
    
}

.container {
    height: 70vh;
    padding: 0 70px 40px 70px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #082638;
        }

.container h2 {
    font-family: 'Rubik Beastly', cursive;
    font-size: 40px;
    font-weight: light;
}

p {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    margin: 0;
}

.button {
    padding: 30px;
    margin: 10px 30px 0 0;
    border: none;
    border-radius: 10px;
    background-color: #e4e6eb;
    box-shadow: 2px 2px #000;
}

#rock:hover {
    border: 5px solid yellow;
    background-color: yellow;
}

#paper:hover {
    border: 5px solid red;
    background-color: red;
}

#scissors:hover {
    border: 5px solid orange;
    background-color: orange;
}

.content{
    height: 10vh;
    background-color: #082638;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #02080b;
    height: 20vh;
}

.footer p {
   width: 100%;
   text-align: center;

}

a {
    text-decoration: none;
    color: inherit;
}
